<div class="modal modalCargando" id="modalCargando" tabindex="-1" role="dialog" aria-labelledby="modalCargando" aria-hidden="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" align="center" id="modalCargando2" aria-hidden="false" on-click="CierraPopup">
        <form>
          <h4>Cargando...</h4>
          <hr>
            <div class="loader">
              <img src="assets/cargando.gif" alt="">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>