<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Elige tus tallas de ropa:</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Página de elección de ropa de trabajo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h5>Tus prendas están aquí: </h5>
                                <span class="d-block m-t-5">Por favor <code>selecciona las tallas</code> y después da clic en el botón guardar</span>
                            </div>
                            <div class="col-2">
                                <button on-click="buscar" type="button" class="btn  btn-primary mb-2"> <i class="fa fa-save"></i> &nbsp;&nbsp;<b>Guardar</b></button>
                            &nbsp;&nbsp;
                        
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="text-align: center !important; font-size: 15px !important;">
                                        <th>#</th>
                                        <th>Cantidad</th>
                                        <th>Articulo</th>
                                        <th>Descripción</th>
                                        <th>Modelo</th>
                                        <th>Talla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data.prendasSeleccion:num}}
                                        <tr style="text-align: center !important; font-size: 15px !important;">
                                            <td>{{num+1}}</td>
                                            <td>{{Cantidad}}</td>
                                            <td>{{Articulo}}</td>
                                            <td>{{Descripcion}}</td>
                                            <td>{{Modelo}}</td>
                                            <td>
                                                <select class="form-control flex-grow-1">
                                                    {{#if Articulo == 'CASCO' || Articulo == 'ANTIAGUA'}}
                                                        {{#each data.tallas1:num}}
                                                            <option>{{Descripcion}}</option>
                                                        {{/each}}
                                                    {{else}}
                                                        {{#each data.tallas2:num}}
                                                            <option>{{Descripcion}}</option>
                                                        {{/each}}
                                                    {{/if}}
                                                </select>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            

          
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

