<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <br/>
                    <div class="card mb-3 text-center">

                        <div class="card-body ">
                            <h1 class="card-title">{{data.sys.short_title}}</h1>
                            <h3 class="card-title">{{data.sys.descrip}}</h3>
                            <h5 class="card-title">Versión {{ data.sys.version }}</h5>
                        </div>

                        <div class="row">
                            <div class="col align-self-center">
                                <img class="icard-img-top" src="assets/home-bg.jpg" width="95%" alt="">
                            </div>
                        </div>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-self-center text-center">
            <p class="card-text"><small class="text-muted">{{data.sys.author}}</small></p>
        </div>
    </div>
</div>